@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#1177B3;
    color:#fff;
    font-family:'Inter',sans-serif;
    overflow:hidden;
}

a{
    text-decoration:none;
    color:white;
}

.wrapper{
    width:100%;
    max-width:1400px;
    margin:0 auto;
    padding:25px 30px;
}

/* =========================
   HEADER
========================= */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:16px;
    font-weight:700;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    font-size:14px;
    font-weight:500;
}

/* =========================
   HERO
========================= */

.hero{

    margin-top:55px;

    display:grid;

    grid-template-columns:
    220px
    650px;

    column-gap:70px;

    align-items:start;
}

.hero-image{

    width:180px;
    height:250px;

    overflow:hidden;

    border-radius:90px 90px 0 0;
}

.hero-image img{

    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-text{

    width:650px;
}

.hero-text h1{

    font-size:38px;
    line-height:1.45;
    font-weight:600;
}

/* =========================
   INTRO
========================= */

.intro{

    margin-top:70px;

    display:grid;

    grid-template-columns:
    140px
    70px
    520px;

    gap:30px;
}

.line{

    width:110px;
    height:1px;

    background:white;

    margin-top:10px;
}

.intro-title{

    font-size:14px;
    font-weight:600;
}

.intro-text{

    width:520px;
}

.intro-text p{

    font-size:15px;
    line-height:2;

    color:#d7e4ee;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:1000px){

    body{
        overflow:auto;
    }

    .wrapper{
        padding:20px;
    }

    header{
        flex-direction:column;
        gap:20px;
    }

    nav{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero{
        grid-template-columns:1fr;
        gap:30px;
    }

    .hero-text{
        width:auto;
    }

    .hero-text h1{
        font-size:30px;
    }

    .intro{
        grid-template-columns:1fr;
    }

    .intro-text{
        width:auto;
    }
}